{% extends 'base.html' %}

{% block title %}
{{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        
        <a href="{{ item.get_absolute_url}}" class="btn btn-danger">Read more...</a>
    </div>

    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ news_item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://st2.depositphotos.com/1152339/7939/i/950/depositphotos_79398224-stock-photo-news-concept-news-on-torn.jpg" width="200" height="200">
            <body style="margin: 0px; background: #5e9e8e; height: 50%">
            </body>
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <b>{{ news_item.created_at|date:"Y-m-d H:i:s" }}</b>
    </div>
</div>
{% endblock %}
